.header {
  background-color: $dark;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a,
  li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    line-height: 24px;
    font-size: 15px;
    cursor: pointer;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover,
  li button:hover {
    background-color: $dark;
  }
}