@use '@/assets/styles/colors' as *;

.header {
  background-color: $dark;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 35px;
    margin: 0;
    padding: 25px 0;
    overflow: hidden;
    list-style-type: none;
  }

  &__link {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: transparent;
    cursor: pointer;
    padding-bottom: 5px;
    border: 0;

    &.active {
      color: $main_light;
      border-bottom: 3px solid $main_light;
    }
  }

  &__login {
    margin-left: auto;
    padding: 8px 25px;
    border-radius: 20px;
    border: 1px solid $white;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover,
  li button:hover {
    background-color: $dark;
  }
}