.ingredients {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F1F3FB;

  &__header {
    display: flex;
  }

  &__body {
    display: flex;
    flex-grow: 1;
  }

  &__footer {

  }
}