.ingredients {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F1F3FB;
  padding-top: 125px;

  &__header {
    display: flex;
    margin-bottom: 70px;

    @media (max-width: 991px) {
      margin-bottom: 40px;
    }

    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
  }

  &__body {
    display: flex;
    flex-grow: 1;
  }

  &__footer {

  }

  @media (max-width: 991px) {
    padding-top: 60px;
  }

  @media (max-width: 575px) {
    padding-top: 30px;
  }
}