.ingredient {
  width: 100%;
  max-width: 1320px;
  background-color: #F1F3FB;
  border-radius: 20px;
  padding: 40px;

  .pi-copy {
    padding: 5px;
    top: 20px;
    cursor: pointer;

    &:hover {
      color: #5C71BC;
    }
  }

  .p-dialog-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px;
    background-color: transparent;
    padding: 0;

    .p-dialog-header-icon {
      &:focus-visible {
        box-shadow: none;
      }
    }

    .p-button {
      background-color: transparent;
      border: 0;
      box-shadow: none !important;
      color: #000000;

      .p-button-icon {
        font-size: 26px;
      }
    }
  }

  .p-dialog-content {
    border-radius: 20px;
    background-color: transparent;
    padding: 15px 55px 48px;

    @media (max-width: 991px) {
      padding: 30px 0;
    }

    @media (max-width: 767px) {
      padding-bottom: 0;
    }

    @media (max-width: 575px) {
      padding-top: 15px;
    }
  }

  .p-button {
    &:focus {
      box-shadow: none;
    }
  }

  &__menu-list {
    background-color: #15133D !important;
    border-radius: 10px;
    max-width: 170px;

    &::before {
      position: absolute;
      left: 16px;
      top: -7px;
      content: '';
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      background-color: #15133D;
    }

    .p-menuitem {
      &:first-child {
        border-radius: 10px;
        overflow: hidden;
      }

      &:last-child {
        border-radius: 10px;
        overflow: hidden;
      }

      .p-menuitem-link {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;

        &:hover {
          span {
            color: #F2297E;
          }
        }
      }
    }

    .p-menuitem-text {
      color: #ffffff;
    }

    .p-menuitem-content {
      background-color: #15133D;

      &:hover {
        background-color: #15133D;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    & > div {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }

  &__error {
    color: red;
    margin-left: 30px;
  }

  &__name {
    &-label {
      margin-bottom: 5px;
      margin-left: 28px;
      font-size: 14px;
      color: #5C71BC;
    }

    .p-inputtext {
      width: 100%;
      padding: 15px 30px 15px;
      border-radius: 30px;
      border: none;

      &.p-inputtext:enabled:focus {
        box-shadow: 0 0 0 0.2rem #9ba8d5;
      }
    }

    & > span {
      width: 100%;
    }
  }

  &__themes {
    .p-multiselect {
      width: 100%;
      background-color: #5C71BC;
      border-radius: 30px;
      padding: 14px 11px 14px 27px;
      border-color: #fff;
      border-color: #5C71BC;

      .p-multiselect-label {
        padding: 0;
        color: #ffffff;
      }

      .p-multiselect-trigger {
        color: #ffffff;
      }

      &.p-multiselect:not(.p-disabled).p-focus {
        box-shadow: none;
      }

      &.p-overlay-open {
        border-radius: 30px 30px 0 0;
      }
    }
  }

  &__images {
    .p-fileupload {
      border-radius: 30px;
      display: flex;
      gap: 10px;
      flex-direction: row-reverse;
      justify-content: flex-end;

      .p-fileupload-buttonbar {
        border-radius: 30px 30px 0 0;
      }

      .p-fileupload-content {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        border-radius: 0 0 30px 30px;
      }

      .p-fileupload-buttonbar,
      .p-fileupload-content {
        padding: 0;
        border: 0;
        background-color: transparent;
      }

      .p-fileupload-empty {
        display: none;
      }

      .p-progressbar {
        display: none;
      }

      .p-fileupload-buttonbar {
        gap: 10px;

        .p-button {
          border-radius: 50%;
          width: 148px;
          height: 148px;
          display: flex;
          justify-content: center;
          align-items: center;

          .p-icon {
            width: 23px;
            height: 23px;
            margin-right: 0;
          }

          &:last-child {
            display: none;
          }
        }

        .p-button-label {
          display: none;
        }
      }

      .p-fileupload-file {
        width: 148px;
        height: 148px;
        border-radius: 50%;
        padding: 0;
        position: relative;
        border: 0;

        .p-fileupload-file-details {
          display: none;
        }

        .p-fileupload-file-actions {
          position: absolute;
          top: 0;
          right: 0;
          width: 13px;
          height: 13px;
          display: flex;

          .p-button {
            width: 13px;
            height: 13px;
            padding: 0;
            background-color: transparent;
            border: 0;
            color: #5C71BC;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          background-color: #fff;
        }
      }

      .p-button {
        padding: 15px;
        border-radius: 30px;
        background-color: #5C71BC;
        border-color: #5C71BC;
        color: #ffffff;

        @media (max-width: 767px) {
          padding: 10px 15px;
        }
      }

      @media (max-width: 767px) {
        .p-fileupload-file,
        .p-fileupload-buttonbar .p-button {
          width: 100px;
          height: 100px;
        }
      }

      @media (max-width: 575px) {
        .p-fileupload-file,
        .p-fileupload-buttonbar .p-button {
          width: 70px;
          height: 70px;
        }

        .p-fileupload-file .p-fileupload-file-actions {
          right: -13px;
        }
      }
    }
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .p-chip {
      border: 1px solid #5C71BC;
      background-color: transparent;
      padding-top: 3px;
      padding-bottom: 3px;
      color: #5C71BC;
      cursor: default;
      height: 33px;

      &.active {
        background-color: #5C71BC;
        color: #ffffff;
        border-color: #5C71BC;
      }

      .pi {
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: 0.7rem;
        cursor: pointer;
        padding: 5px 0;
      }
    }
  }

  &__description {
    position: relative;

    .p-inputtextarea {
      width: 100%;
      border: 0;
      padding: 15px 30px 15px;
      border-radius: 15px;

      &.p-inputtext:enabled:hover {
        border-color: #9ba8d5;
      }

      &.p-inputtext:enabled:focus {
        box-shadow: 0 0 0 0.2rem #9ba8d5;
      }
    }

    .pi-copy {
      position: absolute;
      top: 15px;
      right: 13px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    .p-button {
      border-color: #5C71BC;
      background-color: #5C71BC;
      color: #ffffff;
      padding: 14px 77px;
      text-transform: uppercase;
    }
  }

  @media (max-width: 1399px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 960px;
  }

  @media (max-width: 991px) {
    max-width: 720px;
  }

  @media (max-width: 767px) {
    max-width: 540px;
  }

  @media (max-width: 575px) {
    padding: 20px 30px 40px;
    max-width: calc(100% - 40px);
  }
}

.ingredient-images-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  &__box {
    width: 148px;
    height: 148px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;

    @media (max-width: 767px) {
      width: 100px;
      height: 100px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ingredient-themes-panel {
  width: 356.67px;
  border-radius: 0 0 30px 30px;
  box-shadow: none;
  transition: 0s;
  background-color: #5C71BC;
  overflow: hidden;

  &:hover {
    background-color: #4d5d9d;
  }

  .p-multiselect-filter {
    border-radius: 30px;
  }

  .p-multiselect-items {
    padding-top: 0;
    padding-bottom: 0;

    .p-multiselect-item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      color: #ffffff;
      padding-right: 30px;
      padding-left: 30px;

      .p-checkbox-box {
        background: transparent;
        border: none;
      }

      &:hover {
        background-color: #778de1;
      }

      &.p-highlight {
        background-color: #7e8dc7;
        color: #ffffff;
      }

      &.p-focus {
        background-color: #4d5d9d;
      }
    }
  }

  .p-multiselect-header {
    border-radius: 0;
  }

  .p-multiselect-items-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .p-multiselect-item.p-highlight {
    color: #5c71bc;
    background-color: #f1f3fb;
  }

  .p-checkbox-box.p-highlight {
    border-color: #5c71bc;
    background-color: #5c71bc;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: 0 0 0 0.2rem #9ba8d5;
    border-color: transparent;
  }

  @media (max-width: 1399px) {
    max-width: 296.67px;
  }

  @media (max-width: 1199px) {
    max-width: 236.67px;
  }

  @media (max-width: 991px) {
    max-width: 193.34px;
  }

  @media (max-width: 767px) {
    max-width: 215px;
  }

  @media (max-width: 575px) {
    min-width: 0;
    max-width: calc(100% - 140px);
  }
}