.ingredient {
  width: 100%;
  max-width: 985px;
  background-color: $background_light;
  border-radius: 20px;
  padding: 45px 95px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .pi-copy {
    right: 15px;
    top: 50%;
    font-size: 26px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $main_light;

    &:hover {
      color: $main;
    }
  }

  .p-dialog-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px;
    background-color: transparent;
    padding: 0;

    .p-dialog-header-icon {
      &:focus-visible {
        box-shadow: none;
      }
    }

    .p-button {
      background-color: transparent;
      border: 0;
      box-shadow: none !important;
      color: $black;

      .p-button-icon {
        font-size: 26px;
      }
    }
  }

  .p-dialog-content {
    border-radius: 20px;
    background-color: transparent;

    @media (max-width: 991px) {
      padding: 30px 0;
    }

    @media (max-width: 767px) {
      padding-bottom: 0;
    }

    @media (max-width: 575px) {
      padding-top: 15px;
    }
  }

  .p-button {
    &:focus {
      box-shadow: none;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow: hidden;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    & > div {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }

  &__error {
    color: red;
    margin-left: 30px;
  }

  &__name {
    &-label {
      margin-bottom: 5px;
      margin-left: 28px;
      font-size: 14px;
      color: $main;
    }

    .p-inputtext {
      font-size: 20px;
      width: 100%;
      padding: 15px 50px 15px 30px;
      border-radius: 30px;
      border: none;
      color: $grey;
      text-overflow: ellipsis;

      &.p-inputtext:enabled:focus {
        box-shadow: 0 0 0 0.2rem #9ba8d5;
      }
    }

    & > span {
      width: 100%;
    }
  }

  &__themes {
    .p-multiselect {
      width: 100%;
      background-color: $main;
      border-radius: 30px;
      padding: 14px 11px 14px 27px;
      border-color: $main;

      .p-multiselect-label {
        padding: 0;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
      }

      .p-multiselect-trigger {
        color: $white;
      }

      &.p-multiselect:not(.p-disabled).p-focus {
        box-shadow: none;
      }

      &.p-overlay-open {
        border-radius: 30px 30px 0 0;
      }
    }
  }

  &__images {
    .p-message {
      margin-bottom: 0;
    }

    .p-fileupload {
      border-radius: 30px;
      display: flex;
      gap: 10px;

      .p-fileupload-buttonbar {
        border-radius: 30px 30px 0 0;
      }

      .p-fileupload-content {
        width: 100%;
        border-radius: 50%;
        max-width: 148px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px;
        background: none;
        border: 1px solid $main_light;

        svg {
          fill: none;
          width: 100%;
          max-width: 58px;
          aspect-ratio: 1 / 1;
        }
      }

      .p-fileupload-empty {
        color: $main;
      }

      .p-fileupload-buttonbar {
        border: 0;
      }

      .p-fileupload-buttonbar {
        background-color: transparent;
      }

      .p-progressbar {
        display: none;
      }

      .p-fileupload-buttonbar {
        gap: 10px;

        .p-button {
          border-radius: 50%;
          width: 148px;
          height: 148px;
          display: flex;
          justify-content: center;
          align-items: center;

          .p-icon {
            width: 23px;
            height: 23px;
            margin-right: 0;
          }

          &:last-child {
            display: none;
          }
        }

        .p-button-label {
          display: none;
        }
      }

      .p-fileupload-file {
        width: 148px;
        height: 148px;
        border-radius: 50%;
        padding: 0;
        position: relative;
        border: 0;
        margin-bottom: 0;

        .p-fileupload-file-details {
          display: none;
        }

        .p-fileupload-file-actions {
          position: absolute;
          top: 0;
          right: 0;
          width: 13px;
          height: 13px;
          display: flex;

          .p-button {
            width: 13px;
            height: 13px;
            padding: 0;
            background-color: transparent;
            border: 0;
            color: $main;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          background-color: $white;
        }
      }

      .p-button {
        padding: 15px;
        border-radius: 30px;
        background-color: $main_light;
        border-color: $main_light;
        color: $white;

        @media (max-width: 767px) {
          padding: 10px 15px;
        }
      }

      @media (max-width: 767px) {
        .p-fileupload-file,
        .p-fileupload-buttonbar .p-button {
          width: 100px;
          height: 100px;
        }
      }

      @media (max-width: 575px) {
        .p-fileupload-file,
        .p-fileupload-buttonbar .p-button {
          width: 70px;
          height: 70px;
        }

        .p-fileupload-file .p-fileupload-file-actions {
          right: -13px;
        }
      }
    }
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .p-chip {
      font-size: 15px;
      border: 1px solid $background_dark;
      background-color: transparent;
      color: $main;
      cursor: default;
      padding: 5px 15px;

      &.active {
        background-color: $main_light;
        color: $white;
        border-color: $main_light;
      }

      .pi {
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: 0.7rem;
        padding: 5px 0;
      }
    }
  }

  &__description {
    position: relative;

    .p-inputtextarea {
      font-size: 20px;
      width: 100%;
      border: 0;
      padding: 15px 50px 15px 30px;
      border-radius: 15px;

      &.p-inputtext:enabled:hover {
        box-shadow: none;
      }

      &.p-inputtext:enabled:focus {
        box-shadow: none;
      }
    }

    .pi-copy {
      position: absolute;
      transform: none;
      top: 15px;
      right: 13px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .p-button {
      border-color: $main;
      background-color: $main;
      color: $white;
      padding: 14px 77px;
      text-transform: uppercase;
    }
  }

  @media (max-width: 1399px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 960px;
  }

  @media (max-width: 991px) {
    max-width: 720px;
  }

  @media (max-width: 767px) {
    max-width: 540px;
  }

  @media (max-width: 575px) {
    padding: 20px 30px 40px;
    max-width: calc(100% - 40px);
  }
}

.ingredient-images-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  &__box {
    width: 148px;
    height: 148px;
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;

    @media (max-width: 767px) {
      width: 100px;
      height: 100px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ingredient-themes-panel {
  border-radius: 0 0 30px 30px;
  box-shadow: none;
  transition: 0s;
  background-color: $main;
  overflow: hidden;

  &:hover {
    background-color: $main;
  }

  .p-multiselect-filter {
    border-radius: 30px;
  }

  .p-multiselect-items {
    padding-top: 0;
    padding-bottom: 0;

    .p-multiselect-item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      color: $white;
      padding: 10px 30px;

      span {
        font-weight: 700;
      }

      .p-checkbox-box {
        background: transparent;
        border: none;
      }

      &:hover {
        background-color: $main_light;
      }

      &.p-highlight {
        background-color: $main;
        color: $white;
      }

      &.p-focus {
        background-color: $main;
      }
    }
  }

  .p-multiselect-header {
    border-radius: 0;
  }

  .p-multiselect-items-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .p-multiselect-item.p-highlight {
    color: $main;
    background-color: $background_light;
  }

  .p-checkbox-box.p-highlight {
    border-color: $main;
    background-color: $main;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: 0 0 0 0.2rem #9ba8d5;
    border-color: transparent;
  }
}

.ingredient-menu {
  position: relative;
  cursor: pointer;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    i {
      font-size: 26px;
      color: $black;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: $dark;
    border-radius: 10px;
    color: $white;
    padding-top: 8px;
    padding-bottom: 8px;

    &::before {
      position: absolute;
      left: 12px;
      top: -7px;
      content: '';
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      background-color: $dark;
    }
  }

  &__item {
    padding: 4px 15px;
    white-space: nowrap;
    font-size: 14px;

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      background-color: $dark;
      color: $pink;
    }
  }
}

