.ingredient-create {
  width: 100%;
  max-width: 1320px;
  background-color: #F1F3FB;
  border-radius: 20px;
  padding: 40px;

  .p-dialog-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: transparent;
    padding: 0;

    .p-dialog-header-icon {
      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  .p-dialog-content {
    border-radius: 20px;
    background-color: transparent;
    padding: 30px 55px 55px;

    @media (max-width: 991px) {
      padding: 30px 0;
    }

    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }

  .p-button {
    &:focus {
      box-shadow: none;
    }
  }

  &__row {
    display: flex;
    gap: 15px;
  }

  &__col {
    &--grow {
      flex-grow: 1;
    }
  }

  &__label-name {
    margin-bottom: 5px;
    margin-left: 28px;
    font-size: 14px;
    color: #5C71BC;

    @media (max-width: 767px) {
      margin-left: 20px;
    }
  }

  &__error {
    color: red;
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .p-chip {
      border: 1px solid #5C71BC;
      background-color: transparent;
      padding-top: 3px;
      padding-bottom: 3px;
      color: #5C71BC;
      cursor: default;

      &.active {
        background-color: #5C71BC;
        color: #ffffff;
        border-color: #5C71BC;
      }

      .pi {
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: 0.7rem;
        cursor: pointer;
        padding: 5px 0;
      }
    }
  }

  &__names {
    margin-bottom: 30px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      gap: 0;
      margin-right: -10px;
      margin-left: -10px;

      .ingredient-create__col {
        width: calc(50% - 20px);
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 575px) {
      margin-right: 0;
      margin-left: 0;

      .ingredient-create__col {
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__themes {
    @media (max-width: 767px) {
      gap: 0;
      margin-right: -10px;
      margin-left: -10px;

      .ingredient-create__col {
        width: calc(50% - 20px);
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0;

      .ingredient-create__col {
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__images {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-right: 5px;
    padding-left: 5px;

    @media (max-width: 767px) {
      overflow: hidden;
    }

    @media (max-width: 575px) {
      overflow: visible;
    }
  }

  @media (max-width: 1399px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 960px;
  }

  @media (max-width: 991px) {
    max-width: 720px;
  }

  @media (max-width: 767px) {
    max-width: 540px;
  }

  @media (max-width: 575px) {
    padding: 20px 15px 40px;
    max-width: calc(100% - 40px);
  }
}

.ingredient-create-button {
  padding: 15px;
  border-color: #5C71BC;
  color: #5C71BC;

  &__send {
    background-color: #5C71BC;
    color: #ffffff;
  }

  @media (max-width: 767px) {
    padding: 10px 15px;
  }
}

.ingredient-create-name {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 15px 27px;
  border-color: #fff;

  &.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem #9ba8d5;
  }

  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}

.ingredient-create-language {
  width: 250px;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 15px 11px 15px 27px;
  border-color: #fff;

  .p-dropdown-label {
    padding: 0;
  }
}

.ingredient-create-theme {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 15px 27px;
  border-color: #fff;

  &.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem #9ba8d5;
  }

  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}

.ingredient-create-ready-theme {
  width: 100%;

  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 15px 11px 15px 27px;
  border-color: #fff;

  .p-multiselect-label {
    padding: 0;
  }

  &.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0.2rem #9ba8d5;
  }

  &__select-panel {
    width: 825px;
    border-radius: 30px;

    .p-multiselect-filter {
      border-radius: 30px;
    }

    .p-multiselect-header {
      border-radius: 30px 30px 0 0;
    }

    .p-multiselect-items-wrapper {
      border-radius: 0 0 30px 30px;
    }

    .p-multiselect-item.p-highlight {
      color: #5c71bc;
      background-color: #f1f3fb;
    }

    .p-checkbox-box.p-highlight {
      border-color: #5c71bc;
      background-color: #5c71bc;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
      box-shadow: 0 0 0 0.2rem #9ba8d5;
      border-color: transparent;
    }

    @media (max-width: 1399px) {
      max-width: 645px;
    }

    @media (max-width: 1199px) {
      max-width: 465px;
    }

    @media (max-width: 991px) {
      max-width: 335px;
    }

    @media (max-width: 767px) {
      max-width: 215px;
    }

    @media (max-width: 575px) {
      min-width: 0;
      max-width: calc(100% - 100px);
    }
  }

  @media (max-width: 767px) {
    padding: 10px 0 10px 20px;
  }
}

.ingredient-create-description {
  width: 100%;

  &.p-inputtext:enabled:hover {
    border-color: #9ba8d5;
  }

  &.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem #9ba8d5;
  }
}

.ingredient-create-image {
  border-radius: 30px;

  .p-fileupload-buttonbar {
    border-radius: 30px 30px 0 0;
  }

  .p-fileupload-content {
    border-radius: 0 0 30px 30px;
  }

  .p-fileupload-buttonbar,
  .p-fileupload-content {
    border: 0;
  }

  .p-button {
    padding: 15px;
    border-radius: 30px;
    background-color: #5C71BC;
    border-color: #5C71BC;
    color: #ffffff;

    @media (max-width: 767px) {
      padding: 10px 15px;
    }
  }
}

.ingredient-create-menu {
  position: relative;

  .p-speeddial-action {
    width: 2rem;
    height: 2rem;
    font-size: 16px;

    .pi {
      font-size: 12px;
    }
  }

  &__button {
    position: relative;
    border: 0;
    background: transparent;
    color: #15133D;
    width: 3rem;
    height: 2rem;
    padding: 0 10px;

    &:focus {
      box-shadow: none;
    }

    & > .pi-ellipsis-h {
      font-size: 25px;
    }
  }

  &__mask {
    background-color: transparent;
    border-radius: 20px;
    z-index: -1;

    &.p-speeddial-mask-visible {
      background-color: #fff;
      opacity: .9;
      z-index: 1;
    }
  }
}