.ingredient-view {
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    & > div {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
}