.btn {
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 20px;
    background: $main;
    color: $white;
    text-align: center;
    padding: 15px 30px;
    border: none;
    outline: 0;
    transition: all .3s linear;
}