$white: #ffffff;
$black: #000000;
$dark: #15133D;
$background_light: #F1F3FB;
$background_dark: #6e77a5;
$main: $background_dark;
$main_light: #9DAEE7;
$grey: #78778B;
$shadow: 0 4px 6px 0 rgba(163, 161, 255, 0.16);
$pink: #F2297E;
$warning: #ff0000;