@use 'colors' as *;
*,
*::before,
*::after {
  font-weight: normal;
  box-sizing: border-box;
}

::selection {
  color: $white;
  background-color: $dark;
}

*{
  padding:0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: $dark;
  font-size: 16px;
  line-height: normal;
  background: $background_light;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.overlay {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  width: 100%;
  height: 100%;
  opacity: .6;
}

.custom-checkbox {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background_light;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  border-radius: 5px;
}

input[type=checkbox]:checked ~ .custom-checkbox {
  background-color: $dark;
}

input[type=checkbox]:checked ~ .custom-checkbox::before {
  content: "\f00c";
  color: $white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
}

pre {
  background-color: #e8e8e8;
  font-size: 14px;
}

.p-toast-message-content {
  padding: 10px;
}

.p-toast-message-content svg {
  margin-right: 10px;
}